.results-container {
  width: 900px;
  padding: 20px;
  margin: 20px 100px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.outer {
  width: 99vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:start;
  background: #d0dbee;
  padding-top: 30px;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 10px 5px 5px;
  color: #333;
}

.paginator {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-top: 15px;
}

mat-table {
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

mat-header-cell, mat-cell {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

mat-cell button {
  margin-right: 8px;
}

.header {
  background-color: #adbce5 !important;
  color: #333;
  font-weight: bold;
  border-bottom: none;
}

mat-row:nth-child(odd) {
  background-color: #f4f4f4;
}

mat-row:hover {
  background-color: #e5e5e5;
}