.results-container {
    padding: 20px;
    margin: 0px 100px;
    background-color: #f9f9f9;
    border-radius: 12px;
  }

  .outer{
    width: 99vw;
    height: 100vh;
    background: #d0dbee;
    padding-top: 40px;
  }
  
  mat-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
