
.outer {
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0dbee;
  padding: 20px;
  overflow: hidden;
}

h2{
  margin: 15px;
  text-align: center;
}
.container {
  width: 75%;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  background: #7082a1;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow-x: hidden;
}

.hide{
  display: none;
}
.search {
  width: 100%;
  margin-bottom: 20px;
}


.mat-table {
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}





.mat-row:nth-child(odd) {
  background: #f4f4f4;
}





.mat-icon-button {
  transition: transform 0.2s ease-in-out;
}

.mat-icon-button:hover {
  transform: scale(1.1);
}


.mat-paginator {
  margin-top: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button.mat-icon-button {
  margin: 0 5px;
}


.paginator {

  border: 1px solid #ddd;
}




 .ng-container{
  text-align: center;
 }



  .head, .data {
    border: 1px solid #ddd;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .head{
    background-color: #adbce5 !important;
    color: rgb(36, 36, 36);
    font-weight: bold;
  
  }

  