  <div class="results-container">
    <div class="outer">
<div class="payments-container">
    <mat-card-title>Course Payments for Your Courses</mat-card-title>
    <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z14">
  
      <ng-container matColumnDef="courseName">
        <mat-header-cell class="head" *matHeaderCellDef mat-sort-header  > Course Name </mat-header-cell>
        <mat-cell class="data" *matCellDef="let element"> {{ element.courseName }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="studentName" >
        <mat-header-cell class="head" *matHeaderCellDef mat-sort-header  > Student Name </mat-header-cell>
        <mat-cell class="data" *matCellDef="let element"> {{ element.studentName }}  </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="amount">
        <mat-header-cell class="head" *matHeaderCellDef mat-sort-header > Amount </mat-header-cell>
        <mat-cell class="data" *matCellDef="let element"> ₹ {{ element.paymentAmount  }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="paymentDate"  >
        <mat-header-cell class="head" *matHeaderCellDef mat-sort-header> Payment Date </mat-header-cell>
        <mat-cell class="data" *matCellDef="let element"> {{ element.paymentDate | date}} </mat-cell>
      </ng-container>
  
    
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

</div>
  